/*Fonts*/
@font-face {
    font-family: minecraft;
    src: url(./Minecrafter.Alt.ttf); 
  }
@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap');

html,body{
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #FFFFE0;
    background-image: url(https://us.123rf.com/450wm/burapa/burapa1705/burapa170500118/77411500-wall-green-background-texture-pattern-by-photoshop-.jpg?ver=6);
}

.header{
    text-align: center;
    font-family: minecraft;
    color: #fff;
    text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;

}

.content{
    text-align: center;
    font-family: 'PT Mono', monospace;
    text-decoration: none;
}

ul, li{
    text-align: justify;
}
table{
    border: 2px solid #00FF00;
    border-collapse: collapse;
    text-decoration: none;
}

td{
    text-align: left;
    padding: 5px;
    font-family: monospace;
    background-color: #00FF00;
    
}
